.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: clamp(120px, 15.2vh, 187px);
}
.profile__heading {
    text-align: center;
    margin-top: 1.5em;
    font-family: 'Inter';
    font-weight: 700;
    font-size: clamp(25px, 2.4vw, 36px);
    color: #000000;
    width: 27vw;
    height: 3.9vh;
}

.profile-form{
    display: flex;
    flex-direction: column;
    width: 44.97vw;
    height: clamp(690px, 88.5vh, 869px);
}

.icon-container{
    display: flex;
}

.profile-icon img{
    width: 9.93vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    top: 19.3vh;
    left: 27.55vw;
    background: #D9D9D9;
}

.d-none {
    display: none;
}

.icon-input{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11.84vw;
    height: 4vh;
    margin-left: clamp(20px, 2.6vw, 40px);
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #FF5555;
    font-family: Inter;
    font-weight: 700;
    font-size: clamp(12px, 1.3vw, 20px);
    line-height: 100%;
    color: #FF5555;
}

.profile-form-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 44.97vw;
    height: clamp(430px, 34.6vh, 533px);
    margin-top: clamp(47px, 4.9vh, 76px);
}

.profile-form-group{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.form-label{
    font-family: Inter;
    font-weight: 700;
    font-size: clamp(16px, 1.6vw, 24px);
    line-height: 100%;
}

.form-input{
    width: 100%;
    max-width: 680px;
    height: 100%;
    max-height: 55px;
    margin-top: 0.2em;
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid #5F5F5F
}

.success-btn{
    margin-top: auto;
    width: 44.97vw;
    height: clamp(37px, 4.8vh, 60px);
    border: none;
    background: #FF5555;
    border-radius: 5px;
    font-family: Inter;
    font-weight: 700;
    font-size: clamp(18px, 1.7vw, 26px);
    text-align: center;
    color: #fff;
}

.error-text{
    display: block;
    margin-top: 0;
    color: red;
    font-size: 14px;
}