.header {
    display: flex;
    align-items: center;
    width: auto;
    height: 82px;
    background-color: #000;
}

.header-logo {
    margin-left: 2.64vw;
}

.header-logo img {
    width: 24.47vw;
    max-width: 370px;
    height: 36px;
}

