.register-form {
    padding: clamp(40px, 5vh, 50px) clamp(200px, 29.7vw, 416px) 5em;
}

.register-form__inner{
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form__heading {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 700;
    font-size: clamp(25px, 2.4vw, 36px);
    line-height: 100%;
    color: #000000;
}

.register-form__group {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.register-form__label {
    font-family: 'Inter';
    font-weight: 700;
    font-size: clamp(16px, 1.6vw, 24px);
    line-height: 29px;
    height: clamp(25px, 2.3vw, 35px);
    color: #000000;
}

.register-form__input {
    height: clamp(47px, 6.1vh, 60px);
    font-size: clamp(18px, 1.7vw, 26px);
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    margin-bottom: 2px;
}

.register-form__error-message {
    display: block;
    margin-top: 0;
    color: red;
    font-size: 14px;
}

.register-form__btn {
    width: 45vw;
    height: clamp(50px, 6.6vh, 65.25px);
    margin-top: 20px;
    margin-bottom: 15px;
    background: #FF5555;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    align-items: center;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-size: clamp(18px, 1.7vw, 26px);
    background: #FF5555;
    color: #fff;
    cursor: pointer;
}

.login__link {
    margin-top: 1em;
}

.switch-to-login {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(12px, 1.3vw, 20px);
    line-height: clamp(16px, 1.6vw, 24px);
    text-decoration: none;
    color: #0073CC;
}