.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    background-color: #000;
    color: #fff;
}